@import "./reset.css";
@import "./main-head.css";
@import "./income-calculator.css";
@import "./add-item-list-window.css";
@import "./item-list.css";
@import "./summary.css";
@import "./footer.css";
@import "./zus.css";
body {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    background-color: #121417;
    color: #768293;
}
.opened{
    display: flex;
}